html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

.main_box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dflex {
    display: flex; 
    justify-content:space-between;
    color: rgb(10, 3, 3);
    font-weight: bold;
}

#fbasis {
    flex-basis: 50%; 
    display: inline-block;
}

.cart_image {
    width: 500px;
    height: 500px;
    padding: 50px;
}

.product_image {
    width: 250px;
    height: 250px;
}

button {
    border-radius: 25px;
    font-weight: bold;
    color: black;

}

#add:hover {
    background-color: green;
    color: black;
}

h3 {
    padding: 5px;
}


 /* Cart page */
.container-products {
    max-width: 700px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 93%;
    max-width: 900px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin-left: 10px;
    margin-right: 10px;
}

.product-title {
    width: 45%;
    border-bottom: 1px solid lightgray;

}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
    font-weight: bold;
}

.basketTotal {
    width: 10%;
    font-weight: bold;
}
